/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .subscribe-us-area .subscribe .subscribe-title p:last-of-type {
        padding: 5%;
    }

    .site-main .services-area {
        margin-top: 6%;
    }

    /* .site-main .site-banner .site-title h1{
        font-size: 41px;
    } */

}

@media only screen and (max-width: 370px){
    .fix {
        justify-content: center !important;
    }

    .site-main,
    .footer-area {
        background: url(../img/banner/contrata.png) no-repeat 50% 13%;
        background-size: 95%;
    }
}


@media only screen and (min-width: 341px) and (max-width: 411px){
    .site-main,
    .footer-area {
        background: url(../img/banner/contrata.png) no-repeat 50% 13.3%;
        background-size: 90%;
    }
}

@media only screen and (min-width: 412px) and (max-width: 518px){
    .site-main,
    .footer-area {
        background: url(../img/banner/contrata.png) no-repeat 50% 12.3%;
        background-size: 90%;
    }
}

@media only screen and (min-width: 519px) and (max-width: 561px){
    .site-main,
    .footer-area {
        background: url(../img/banner/contrata.png) no-repeat 50% 13%;
        background-size: 90%;
    }
}
@media only screen and (min-width: 562px) and (max-width: 612px){
    .site-main,
    .footer-area {
        background: url(../img/banner/contrata.png) no-repeat 50% 13.7%;
        background-size: 80%;
    }
}

@media only screen and (max-width: 635px){
    .header_area .main-menu .navbar .navbar-brand {
        padding: 0 2rem 0 0.3rem;
      }
}

/* if the viewport is equal to 792px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main > .services-area .services{
        width: 13rem;
        margin: 1rem auto;
    }

}

@media only screen and (min-width: 991px){
    .site-main .site-banner .contrata {
        background: url(../img/banner/contrata.png) no-repeat 0 100%;
        z-index: 999;
      }

      .site-main .subscribe-us-area .subscribe form .input-textbox a {
        width: 350px;
        height: 90px;
      }

      .site-main .subscribe-us-area .subscribe .subscribe-title p:last-of-type {
        max-width: 500px;
        margin: 0 auto 2rem auto;
        
    }

}

@media only screen and (max-width: 991px){
    .header_area .main-menu .navbar .navbar-brand {
        padding: 0 2rem 0 0.3rem;
      }
}

/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }



}
